<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>840563329678-6s0bsv8a4uj0jm2g05clbpu9699f33ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840563329678-6s0bsv8a4uj0jm2g05clbpu9699f33ol</string>
	<key>API_KEY</key>
	<string>AIzaSyBHNwYVGuvOIOoEWyp03BeVH-qXEtJM1XA</string>
	<key>GCM_SENDER_ID</key>
	<string>840563329678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darkbearinteractive.CoffeeChooser</string>
	<key>PROJECT_ID</key>
	<string>coffeechooser</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeechooser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:840563329678:ios:38db3db282892523</string>
	<key>DATABASE_URL</key>
	<string>https://coffeechooser.firebaseio.com</string>
</dict>
</plist>